<!-- About -->
<div id="about" class="section sm-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">I Jornada Acadêmica da Educação Física</h2>
			</div>
			<!-- /Section header -->

			<!-- about -->
			<div class="col-md-4">
				<div style="text-align: justify !important" class="about">
					<p>O Curso de Educação Física da Faculdade Pitágoras de Ipatinga, promove neste segundo semestre de 2019, a sua Jornada Acadêmica. 
						A programação inclui palestras, oficinas e exposição de produtos e serviços da área de abrangência da atuação profissional.</p>
				</div>
			</div>
			<!-- /about -->

			<!-- about -->
			<div class="col-md-4">
				<div style="text-align: justify !important" class="about">
					<p>O corpo docente do curso procura investir e incentivar em atividades que são fundamentais ao processo de formação do profissional em cursos de graduação. Sabendo que podem possibilitar novos olhares e diferentes perspectivas de atuação do profissional de Educação Física. Sendo assim, esta Jornada Acadêmica, busca proporcionar aos discentes um espaço de aprendizado, reflexão e de atualização científica ligado à área da Educação Física. Bases que se destacam para consolidação do perfil desejado pelo mercado de trabalho em geral, principalmente em áreas que requerem uma demanda especializada.
						Por fim, destaca-se que a intenção é ampliar, ainda mais, os vínculos acadêmicos com a atualização e o mercado de trabalho.
						Informe-se sobre a programação e inscreva-se com antecedência, pois, as palestras tem número específico de presencialidade.</p>
				</div>
			</div>
			<!-- /about -->

			<!-- about -->
			<div class="col-md-4 bg-dark">
				<div style="text-align: justify !important" class="about">
					<p>Inscreva-se já e venha participar desse grande evento do Leste de Minas Gerais!</p>
					<div style="font-size: 14px; font-style: italic;">
						<hr />
						<strong class="text-danger">Valores promocionais até o dia 25 de agosto.</strong>
						<div style="text-align: left;">
								<br />
							<ul>
								<li>Alunos: <strong class="text-primary">R$ 30,00</strong></li>
								<li>Não alunos: <strong class="text-primary">R$ 40,00</strong></li>
							</ul>
						</div>
						<hr />
						<strong class="text-danger">Após o dia 25 de agosto.</strong>
						<div style="text-align: left;">
								<br />
							<ul>
								<li>Alunos: <strong class="text-primary">R$ 40,00</strong></li>
								<li>Não alunos: <strong class="text-primary">R$ 50,00</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /about -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /About -->