<!-- About -->
<div id="about" class="section sm-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">I Jornada Científica da Educação Física</h2>
			</div>
			<!-- /Section header -->

			<!-- about -->
			<div class="col-md-4">
				<div style="text-align: justify !important" class="about">
					<p>A I Jornada Científica da Educação Física, ...</p>
				</div>
			</div>
			<!-- /about -->

			<!-- about -->
			<div class="col-md-4">
				<div style="text-align: justify !important" class="about">
					<p>...</p>
				</div>
			</div>
			<!-- /about -->

			<!-- about -->
			<div class="col-md-4 bg-dark">
				<div style="text-align: justify !important" class="about">
					<p>Inscreva-se já e venha participar desse grande evento do Leste de Minas Gerais!</p>
					<div style="font-size: 14px; font-style: italic;">
						<hr />
						<strong class="text-danger">Valores promocionais até o dia 31 de julho.</strong>
						<div style="text-align: left;">
								<br />
							<ul>
								<li>Alunos e Ex-alunos: <strong class="text-primary">R$ 40,00</strong></li>
								<li>Alunos de outras instituições e Profissionais externos: <strong class="text-primary">R$ 50,00</strong></li>
							</ul>
						</div>
						<hr />
						<strong class="text-danger">A partir do dia 1º de agosto.</strong>
						<div style="text-align: left;">
								<br />
							<ul>
								<li>Alunos e Ex-alunos: <strong class="text-primary">R$ 55,00</strong></li>
								<li>Alunos de outras instituições e Profissionais externos: <strong class="text-primary">R$ 70,00</strong></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /about -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /About -->