	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('../../../assets/img/background.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a routerLink="/">
							<!-- <img class="logo" src="../../../assets/img/logo.png" alt="logo"> -->
							<img class="logo" src="http://www.faculdadepitagoras.com.br/Style%20Library/unic/imgs/Pitagoras_Logo_Footer.png" alt="logo">							
							<!-- <img class="logo-alt" src="../../../assets/img/logo-alt.png" alt="logo"> -->
							<img class="logo-alt" src="http://www.faculdadepitagoras.com.br/Style%20Library/unic/imgs/Pitagoras_Logo_Footer.png" alt="logo">							
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a routerLink="/">Home</a></li>
					<li><a routerLink="/inscricao">Faça sua inscrição</a></li>
					<li><a href="#about">Sobre</a></li>					
					<li><a href="#team">Palestrantes</a></li>
					<li><a href="#patrocinadores">Patrocinadores</a></li>
					<!-- <li class="has-dropdown"><a href="#blog">Blog</a>
						<ul class="dropdown">
							<li><a href="blog-single.html">blog post</a></li>
						</ul>
					</li> -->
					<li><a href="#contact">Contato</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">I JORNADA ACADÊMICA DA EDUCAÇÃO FÍSICA</h1>
							<p class="white-text" style="font-size: 20px">Dias 02, 03 e 04 de setembro
							</p>
							<button class="white-btn" routerLink="/inscricao">Inscreva-se</button>							
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->