	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a routerLink="/"><img src="http://www.faculdadepitagoras.com.br/Style%20Library/unic/imgs/Pitagoras_Logo_Footer.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a target="_blank" href="https://www.facebook.com/pitagorasfaculdade/"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/pitagorasfacul/"><i class="fa fa-twitter"></i></a></li>						
						<li><a target="_blank" href="https://www.instagram.com/pitagorasipatinga/"><i class="fa fa-instagram"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/school/faculdade-pitagoras/"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/user/pitagorasfaculdade/"><i class="fa fa-youtube"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->
